.main {
  width: 600px;
  height: 100vh;
  border-color: var(--border-color);
  border-right-width: 1px;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
  display: flex;
  flex-direction: column;
}

.formZone {
  padding-left: 16px;
  width: 566px;
  margin-bottom: 60px;
}

.trend {
  border-top: 1px solid rgb(239, 243, 244);
}

.trend h3 {
  padding: 12px 16px;
}

@media (prefers-color-scheme: dark) {
  .trend {
    border-top: 1px solid rgba(100, 100, 100, 0.5);
  }
}
