.backButton {
  width: 34px;
  height: 34px;
  background-color: #fff;
  border: none;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 6px 6px;
}
.backButton:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

@media (prefers-color-scheme: dark) {
  .backButton {
    background-color: black;
  }
  .backButton:hover {
    background-color: rgba(100, 100, 100, 0.5);
  }
}
