.followButtonSection {
  width: 76px;
}

.followButtonSection button {
  border: none;
  cursor: pointer;
  width: 100%;
  color: var(--white);
  background: var(--black);
  font-size: 14px;
  font-weight: bold;
  height: 32px;
  border-radius: 16px;
}
.followButtonSection button:hover {
  background-color: rgb(50, 50, 50);
}

@media (prefers-color-scheme: dark) {
  .followButtonSection button:hover {
    background-color: rgb(224, 224, 224);
  }
}
