.logOutButton {
  width: 66px;
  height: 66px;
  padding: 12px;
  display: flex;
  margin: 12px 0;
  cursor: pointer;
  border: none;
  align-items: center;
  background-color: rgb(var(--background-end-rgb));
  text-align: left;
}
.logOutUserInfo {
  display: none;
}
.logOutUserName {
  display: none;
}
.logOutUserImage {
  display: flex;
  align-items: center;
}
.logOutUserImage img {
  width: 40px;
  border-radius: 50%;
}
.logOutUserId {
  color: #71767b;
}
@media all and (min-width: 1265px) {
  .logOutUserInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .logOutUserInfo > div:last-child {
    padding-right: 12px;
  }
  .logOutButton {
    width: 258px;
  }
  .logOutUserName {
    margin: 0 12px;
    display: inline-block;
  }
  .logOutUserName > div:first-child {
    font-weight: bold;
  }
}
.logOutButton:hover {
  background-color: rgba(15, 20, 25, 0.1);
  border-radius: 33px;
}

@media (prefers-color-scheme: dark) {
  .logOutButton:hover {
    background-color: rgba(100, 100, 100, 0.3);
  }
}
