.trendBg {
  background-color: var(--light-grey);
  border: 0.5px solid transparent;
  border-radius: 16px;
  margin-top: 12px;
  border-color: var(--border-color);
}
.trend {
  font-size: 20px;
  font-weight: bold;
  padding: 12px 0;
}
.trend h3 {
  margin-bottom: 12px;
  padding: 0 16px;
}

.trendShowMore {
  display: flex;
  width: 100%;
  border: none;
  align-items: stretch;
  background-color: transparent;
  padding: 16px;
  color: rgb(26, 140, 216);
}
.trendShowMore:hover {
  background-color: var(--hover-background-color);
}
