.trendBg {
  background-color: rgb(247, 249, 249);
  border: 0.5px solid transparent;
  border-radius: 16px;
  margin-top: 12px;
}
.trend {
  font-size: 20px;
  font-weight: bold;
  padding: 12px 0;
}
.trend h3 {
  margin-bottom: 12px;
  padding: 0 16px;
}

.trendShowMore {
  display: flex;
  width: 100%;
  border: none;
  align-items: stretch;
  background-color: transparent;
  padding: 16px;
  color: rgb(26, 140, 216);
}
.trendShowMore:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

@media (prefers-color-scheme: dark) {
  .trendBg {
    background-color: rgba(49, 49, 49, 0.4);
    border-color: rgba(100, 100, 100, 0.3);
  }
  .trendShowMore:hover {
    background-color: rgba(100, 100, 100, 0.3);
  }
}
